{% extends 'animalerie/base.html' %}
{% load static %}
{% block content %}
        {% for animal in animals %}
        <div class="content container">
            <div class="row">
                <h2><a href="{% url 'animal_detail' id_animal=animal.id_animal %}">{{ animal.id_animal }}</a></h2>
                <div class="col-md-8">
                    Animal: {{ animal.id_animal }}
                </div>
                <div class="col-md-8">
                    Etat: {{ animal.etat }}
                </div>
                <div class="col-md-8">
                    Lieu: {{ animal.lieu }}
                </div>

            </div>
        </div>
        {% endfor %}
{% endblock %}